# ===============================
# Global
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Python (FastAPI backend)
# ===============================
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/
*.sqlite3
.env
.venv/
venv/
ENV/
env/
uploads/
static/

# VSCode settings
.vscode/

# Pycharm
.idea/

# ===============================
# Node (React + Vite frontend)
# ===============================
node_modules/
dist/
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ===============================
# OS generated
# ===============================
*.swp
*~
.cache/
*.tmp

# ===============================
# Logs
# ===============================
*.log
logs/
